body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#body_background {
  background-color: aqua;
}

/* The css code is reference from GeekforGeeks*/
@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
.blinking-text {
	text-align: center;
	animation: blink 0.5s infinite;
}
/* End of reference */

.right{
	align-items: right;
}